<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
   
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/modernizr-2.7.2.js"></script>

    @Html.DevExpress().GetScripts(
        //new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        //new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        //new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        //new Script { ExtensionSuite = ExtensionSuite.Editors },
        //new Script { ExtensionSuite = ExtensionSuite.Chart },
        //new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        //new Script { ExtensionSuite = ExtensionSuite.TreeList },
        //new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
        //new Script { ExtensionSuite = ExtensionSuite.RichEdit },
        //new Script { ExtensionSuite = ExtensionSuite.SpellChecker },
        new Script { ExtensionSuite = ExtensionSuite.GridView }

    )
    @Html.DevExpress().GetStyleSheets(
        //new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }

    )
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/AutoSite/MySelect2Search.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/AutoSite/Notifications.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Cars", "List", "CarItem", new { area = "" }, new { @class = "" })</li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managment<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Car models", "List", "CarModel", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Car body types", "List", "CarBodyType", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Car options", "List", "CarOption", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Manufacturers", "List", "Manufacturer", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Countries", "List", "Country", new {area = ""}, new {@class = ""})</li>
                            <li>@Html.ActionLink("Car fuel types", "List", "FuelType", new { area = "" }, new { @class = "" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Users", "List", "User", new { area = "" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Roles", "List", "Role", new { area = "" }, new { @class = "" })</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="notifications">
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>